body {
    background-color: #ebecf0;
}

:root {
    --main-color: #0077b6;
}

.bg-main{
    background-color: var(--main-color);
}

.text-special-black{
    color: #343a40;

}

.text-main{
    color: var(--main-color);
}

.text-seco{
    color: #ebecf0;
}

.card-custom {
    /* background-color: #ebecf0; */
    border-radius: 10px;
    transition: 0.5s;
    background-color: #343a40;
    box-shadow: -5px -5px 20px , 5px 5px 20px #343a40 ;
}
/* 
.card-custom:hover{
    box-shadow: -2px -2px 5px #6E7B87, 2px 2px 5px #6E7B87;
}

.card-custom:active{
    box-shadow: inset 1px 1px 2px #343a40, -1px -1px 2px #343a40;
} */

.custom-range {
    width: 100%;
    height: 1.4rem;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control-1 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ebecf0;
    background-color: #343a40;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-1::-webkit-input-placeholder {
    color: #ebecf0a4;
    opacity: 1;
}

.form-control-1::-moz-placeholder {
    color: #ebecf0a4;
    opacity: 1;
}

.form-control-1:-ms-input-placeholder {
    color: #ebecf0a4;
    opacity: 1;
}

.form-control-1::-ms-input-placeholder {
    color: #ebecf0a4;
    opacity: 1;
}

.form-control-1::placeholder {
    color: #ebecf0a4;
    opacity: 1;
}